<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="cord">
      <h2 data-cy="cordDetailsHeading"><span>Kort</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Kort Adı</span></dt>
        <dd>
          <span>{{ cord.name }}</span>
        </dd>
        <dt><span>Adres</span></dt>
        <dd>
          <span>{{ cord.adress }}</span>
        </dd>
        <dt><span>Fotoğraf:</span></dt>
        <dd>
          <div *ngIf="cord.image">
            <a (click)="openFile(cord.image, cord.imageContentType)">
              <img [src]="'data:' + cord.imageContentType + ';base64,' + cord.image" style="max-width: 100%" alt="cord image" />
            </a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Geri</span>
      </button>
    </div>
  </div>
</div>
