<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-player-heading" data-cy="PlayerCreateUpdateHeading">Oyuncu Profili</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
          <label class="form-control-label" for="field_fullName">Ad Soyad</label>
          <input
            type="text"
            class="form-control"
            name="fullName"
            id="field_fullName"
            data-cy="fullName"
            formControlName="fullName"
            required
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_gender">Cinsiyet</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender" required>
            <option *ngFor="let gender of genderValues" [value]="gender">{{ GenderLabelMapping[gender] }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_level">Seviye</label>
          <select class="form-control" name="level" formControlName="level" id="field_level" data-cy="level" required>
            <option *ngFor="let level of levelValues" [value]="level">{{ LevelLabelMapping[level] }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_phone">Telefon</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" required />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_photo">Fotoğraf</label>
          <div>
            <img
              [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('photo')!.value"
              alt="player image"
            />
            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_photo" data-cy="photo" (change)="setFileData($event, 'photo', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Iptal</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Kaydet</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
