<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4">Tennisly Club'a hoşgeldin.<span></span></h1>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">Kullanıcı:"{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Hesabın varsa</span>&nbsp;
        <a class="alert-link" (click)="login()">Giriş Yap</a>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Henüz hesabın yoksa</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Yeni kullanıcı oluştur</a>
      </div>
    </div>

    <p>Tennisly Club, Denizli'de, her seviyeden tenis severleri bir araya getirmeyi hedefleyen bir platformdur.</p>

    <p>Nasıl Çalışır</p>

    <ul>
      <li>Önce yeni bir kullanıcı oluştur.</li>
      <li>Profilini tamamla, seviyeni ve tercihlerini belirle.</li>
      <li>Denizli'deki diğer tenis oyuncularını görüntüle.</li>
      <li>Maç teklif et, uygun tarih ve kort seçimi yapıp, teklif yaptığın oyuncunun onayını bekle.</li>
      <li>Yada gelen maç tekliflerini kabul et.</li>
    </ul>

    <p>
      <span>Angular ve Jhipster öğrenme amacıyla yazılmıştır, açık kaynak olup gelişrmek isteyen herkese açıktır.</span>
      <a href="https://github.com/ahmetuygun/tennisly" target="_blank" rel="noopener noreferrer">GitHub</a>!

      <span> Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.ahmet-uygun.com/" target="_blank">Me</a> </span>
    </p>
  </div>
</div>
