<div>
  <h2 id="page-heading" data-cy="PlayerHeading">
    <span>Oyuncular</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Yenile</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="players?.length === 0">
    <span>Oyuncu bulunamadı.</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="players && players.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <tbody>
        <tr *ngFor="let player of players; trackBy: trackId" data-cy="entityTable" [routerLink]="['/player', player.id, 'view']">
          <td>
            <a *ngIf="player.photo" (click)="openFile(player.photo, player.photoContentType)">
              <img [src]="'data:' + player.photoContentType + ';base64,' + player.photo" style="max-height: 100px" alt="player image" />
            </a>
          </td>
          <td>
            <a [routerLink]="['/player', player.id, 'view']">{{ player.fullName }} </a>
          </td>
          <td>
            <span *ngIf="player.level === Level.BEGINNER"> Başlangıç</span>
            <span *ngIf="player.level === Level.INTERMEDIATE"> Orta</span>
            <span *ngIf="player.level === Level.ADVANCED"> İyi</span>
            <span *ngIf="player.level === Level.PROFICIENT"> Profesyonel</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="players && players.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
